<header>Header</header>
<div id="main">
  <article>
    <div *ngIf="!photos?.length">
      <p>Sin información</p>
    </div>
    <mat-card *ngFor="let photo of photos" class="mat-card-item">
      <mat-card-title>{{ photo.title }}</mat-card-title>
      <mat-card-subtitle>Start</mat-card-subtitle>
      <mat-card-actions class="mat-card-buttons">
        <button (click)="viewElement(photo)" mat-button>{{ labels.viewLabel }}</button>
        <button (click)="addElement(photo)" mat-button>{{ labels.addLabel }}</button>
      </mat-card-actions>
    </mat-card>
  </article>
  <nav>Nav</nav>
  <aside>
    <mat-card class="example-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{ labels.titleCart }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-item-content">
        <div *ngFor="let item of cart.items" class="cart-items" >
          <div class="item-name">
            <span>Producto nombre</span>
          </div>
          <div class="item-quantity">
            <input matInput type="number" class="quantity">
          </div>
          <div class="item-price">
            <span> {{ labels.priceSign }} Price</span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content class="mat-content-calc">
        <div class="item-total">
          <div>
            <span >
              {{ labels.subTotalLable }}
            </span>
          </div>
          <div>
            <span class="spn-bold" id="itemTotal">
              {{ labels.priceSign }} 1.12
            </span>
          </div>
        </div>
        <div class="item-tax">
          <div>
            <span>
              {{ labels.totalTaxLabel }}
            </span>
          </div>
          <div>
            <span class="spn-bold" id="itemTax">
              {{ labels.priceSign }} 2.3
            </span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </aside>
</div>
<footer>Footer</footer>
